<ion-view title="Registro">
    <ion-content>
        <!-- Nome -->
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <input type="text" placeholder="Nome" ng-model="vm.displayName">
        </label>
        <!-- E-mail -->
        <label class="item item-input item-stacked-label">
            <span class="input-label">E-mail</span>
            <input type="email" placeholder="E-mail" ng-model="vm.email">
        </label>
        <!-- Senha -->
        <label class="item item-input item-stacked-label">
            <span class="input-label">Senha</span>
            <input type="password" placeholder="Senha" ng-model="vm.password">
        </label>
        <!-- Confirmação de senha -->
        <label class="item item-input item-stacked-label">
            <span class="input-label">Confirmação de senha</span>
            <input type="password" placeholder="Confirme sua senha" ng-model="vm.passwordCheck">
        </label>
        <button class="button button-positive" ng-click="vm.register()">Registrar!</button>
    </ion-content>
</ion-view>