<ion-view title="Login">
    <ion-content>
        <!-- E-mail -->
        <label class="item item-input item-stacked-label">
            <span class="input-label">E-mail</span>
            <input type="email" placeholder="E-mail" ng-model="vm.email">
        </label>
        <!-- Senha -->
        <label class="item item-input item-stacked-label">
            <span class="input-label">Senha</span>
            <input type="password" placeholder="Senha" ng-model="vm.password">
        </label>
        <!-- Botão Login -->
        <button class="button button-positive" ng-click="vm.signIn()">
            Login
        </button>
        <button class="button button-positive" ng-click="vm.facebookSignIn()">
            Facebook
        </button>
        <button class="button button-positive" ng-click="vm.register()">
            Cadastro
        </button>
        <button class="button button-positive" ng-click="vm.clean()">
            Limpar localStorage
        </button>
    </ion-content>
</ion-view>