<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu side="left">
        <div class="bar bar-header bar-positive">
            <h1 class="title">{{user.displayName}}</h1>
        </div>
        <ion-content class="has-header">
            <div class="item" style="text-align: center">
                {{user.userToken}}
            </div>
            <div class="item" ng-click="vm.signOut()">
                <span class="ion-log-out"></span> Logout
            </div>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content edge-drag-threshold="true">
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>